.footer {
padding: 15px;
}

.footer-page-btns{
    button {
        margin-left: 10px;
        background-color: transparent;
        font-size: 75%;
    }
}

.social-media-links {
    button {
        margin-left: 10px;
        background-color: transparent;
        font-size: 75%;
    }
}